---
title: "Video: Domain verification"
url: "https://support.focus.teamleader.eu/hc/en-150/articles/38030348211345-Video-Domain-verification"
locale: "en-150"
created_at: "2025-08-12T13:01:34Z"
updated_at: "2025-08-12T13:05:40Z"
category: "Training Videos"
section: "Settings"
---

# Video: Domain verification

- Find more information about setting your custom domain [here](https://support.focus.teamleader.eu/hc/en-150/articles/25692624924561-How-To-Setting-your-custom-domain-for-sending-emails-from-Teamleader-Focus).

- Interested in more videos regarding your first steps in Teamleader Focus? [Click here.](https://support.focus.teamleader.eu/hc/en-150/articles/37997076426897-Videos-First-steps-in-Teamleader-Focus)